@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-image: url("./berger.jpg");
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}
h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
    justify-content: center;


}
.countdown-container{
    display: flex;
    flex-wrap: wrap;
    margin-right: 1rem;
    margin-left: 1rem;
    justify-content: center;
}
.main-text{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
    margin: 0 2rem;
}
.element{
    text-align: center;
}
.element span{
    font-size: 2rem;
}